<div class="topbar">
  <a href="#">Canvas</a>
  <a href="#">Ed</a>
  <a href="#">Gradescope</a>
</div>
<nav class="sidebar">
  <a href="{{ '/' | relative_url }}">Home</a>
  <a href="{{ '/schedule/' | relative_url }}">Schedule</a>
  <a href="{{ '/lectures/' | relative_url }}">Lectures</a>
  <a href="{{ '/sections/' | relative_url }}">Sections</a>
  <a href="{{ '/homework/' | relative_url }}">Homework</a>
  <a href="{{ '/exams/' | relative_url }}">Exams</a>
  <a href="{{ '/resources/' | relative_url }}">Resources</a>
  <a href="{{ '/policies/' | relative_url }}">Policies</a>
  <a href="{{ '/staff/' | relative_url }}">Staff</a>
  <a href="{{ '/office_hours/' | relative_url }}">Office Hours</a>
  <a href="{{ '/cs161a/' | relative_url }}">CS161A</a>
</nav>
