<!-- Sidebar -->
  <div class="bg-light p-3" style="width: 220px; min-height: 100vh;">
    <ul class="list-group">
      <li class="list-group-item"><a class="text-decoration-none" href="/">Home</a></li>
    <li class="list-group-item">
      <a class="text-decoration-none" href="/schedule/">Schedule</a>
    </li>
<li class="list-group-item">
      <a class="text-decoration-none" href="/lectures/">Lectures</a>
    </li>
    <li class="list-group-item">
      <a class="text-decoration-none" href="/sections/">Sections</a>
    </li>
    <li class="list-group-item">
      <a class="text-decoration-none" href="/homework/">Homework</a>
    </li>
    <li class="list-group-item">
      <a class="text-decoration-none" href="/exams/">Exams</a>
    </li>
    <li class="list-group-item">
      <a class="text-decoration-none" href="/resources/">Resources</a>
    </li>
    <li class="list-group-item">
      <a class="text-decoration-none" href="/policies/">Policies</a>
    </li>
    <li class="list-group-item">
      <a class="text-decoration-none" href="/staff/">Staff</a>
    </li>
    <li class="list-group-item">
      <a class="text-decoration-none" href="/office_hours/">Office Hours</a>
    </li>
    <li class="list-group-item">
      <a class="text-decoration-none" href="/cs161a/">CS161A</a>
    </li>
    </ul>
  </div>
