<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }} – CS161</title>

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">


</head>

<body>
  {% include nav.html %}

  <div class="d-flex">
    {% include sidebar.html %}
    <main class="flex-grow-1 p-4">
      {{ content }}
    </main>
  </div>
</body>

</html>
